In [180]:
import pandas as pd
df = pd.read_json('nobel_winners.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         1052 non-null   object
 1   category        1052 non-null   object
 2   country         1052 non-null   object
 3   date_of_birth   1044 non-null   object
 4   date_of_death   1044 non-null   object
 5   gender          1040 non-null   object
 6   link            1052 non-null   object
 7   name            1052 non-null   object
 8   place_of_birth  1044 non-null   object
 9   place_of_death  1044 non-null   object
 10  text            1052 non-null   object
 11  year            1052 non-null   int64
dtypes: int64(1), object(11)
memory usage: 98.8+ KB

In [3]:
df.describe()

              year
count  1052.000000
mean   1968.729087
std      33.155829
min    1809.000000
25%    1947.000000
50%    1975.000000
75%    1996.000000
max    2014.000000

In [4]:
df.describe(include='object')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Sydney Brenner,,,"Médecins Sans Frontières , Peace, 1999"
freq,910,250,350,4,362,982,4,2,29,409,2

In [5]:
df.describe(include='all')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052,1052.000000
unique,40,7,59,853,563,2,893,998,735,410,1043,NaN
top,,Physiology or Medicine,United States,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Sydney Brenner,,,"Médecins Sans Frontières , Peace, 1999",NaN
freq,910,250,350,4,362,982,4,2,29,409,2,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.729087
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.155829
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1809.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000

In [12]:
#print(type(df.columns))
#print(type(df.describe))
df.columns

Index(['born_in', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'name', 'place_of_birth', 'place_of_death', 'text',
       'year'],
      dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=1052, step=1)

In [20]:
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [36]:
df = df.set_index('name')           #寫回df，才能變更index為name欄位
#df.set_index('name',inplace=True)    #透過inplace設定，將index異動為name欄位
df
#df.set_index('name')

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
...,...,...,...,...,...,...,...,...,...,...,...
Brian P. Schmidt,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
Carlos Saavedra Lamas,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
Bernardo Houssay,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
Luis Federico Leloir,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
Adolfo Pérez Esquivel,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [39]:
df.loc[['César Milstein','Auguste Beernaert'],['category','country']]  #使用名稱去叫用資料，df.loc[index,columns]
#SELECT category,country FROM nobels WHERE name = "César Milstein"

                                 category         country
name
César Milstein     Physiology or Medicine       Argentina
César Milstein     Physiology or Medicine  United Kingdom
Auguste Beernaert                   Peace         Belgium

In [42]:
df.iloc[[0,4],[1,2]]  #使用位置址去叫用資料，df.iloc[列位置,欄位置]

                                 category    country
name
César Milstein     Physiology or Medicine  Argentina
Auguste Beernaert                   Peace    Belgium

In [ ]:
df = df.reset_index()

In [57]:
df[['name','category','year']]

                                 name                category  year
0                      César Milstein  Physiology or Medicine  1984
1                        Ivo Andric *              Literature  1961
2                   Vladimir Prelog *               Chemistry  1975
3     Institut de Droit International                   Peace  1904
4                   Auguste Beernaert                   Peace  1909
...                               ...                     ...   ...
1047                 Brian P. Schmidt                 Physics  2011
1048            Carlos Saavedra Lamas                   Peace  1936
1049                 Bernardo Houssay  Physiology or Medicine  1947
1050             Luis Federico Leloir               Chemistry  1970
1051            Adolfo Pérez Esquivel                   Peace  1980

[1052 rows x 3 columns]

In [52]:
df.year

0       1984
1       1961
2       1975
3       1904
4       1909
        ...
1047    2011
1048    1936
1049    1947
1050    1970
1051    1980
Name: year, Length: 1052, dtype: int64

In [54]:
df.loc[:,'year']

0       1984
1       1961
2       1975
3       1904
4       1909
        ...
1047    2011
1048    1936
1049    1947
1050    1970
1051    1980
Name: year, Length: 1052, dtype: int64

In [60]:
mask = df.year > 2000
df[mask].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 13 to 1047
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         202 non-null    object
 1   category        202 non-null    object
 2   country         202 non-null    object
 3   date_of_birth   201 non-null    object
 4   date_of_death   201 non-null    object
 5   gender          200 non-null    object
 6   link            202 non-null    object
 7   name            202 non-null    object
 8   place_of_birth  201 non-null    object
 9   place_of_death  201 non-null    object
 10  text            202 non-null    object
 11  year            202 non-null    int64
dtypes: int64(1), object(11)
memory usage: 20.5+ KB

In [61]:
df[mask][['name','category','year']]

                           name                category  year
13             François Englert                 Physics  2013
32    Christopher A. Pissarides               Economics  2010
66                   Kofi Annan                   Peace  2001
87          Riccardo Giacconi *                 Physics  2002
88             Mario Capecchi *  Physiology or Medicine  2007
...                         ...                     ...   ...
1034           Martin Karplus *               Chemistry  2013
1044            J. Robin Warren  Physiology or Medicine  2005
1045             Barry Marshall  Physiology or Medicine  2005
1046   Elizabeth H. Blackburn *  Physiology or Medicine  2009
1047           Brian P. Schmidt                 Physics  2011

[202 rows x 3 columns]

In [67]:
df['born_in'][df.born_in != ''] #df.born_in

1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
14                     Belarus
15                     Belarus
16                     Belarus
                 ...
1034                   Austria
1035                 Australia
1039                 Australia
1041                 Australia
1046                 Australia
Name: born_in, Length: 142, dtype: object

In [68]:
df_born_in = df[df.born_in != '']
df_born_in

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
...,...,...,...,...,...,...,...,...,...,...,...,...
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009

In [71]:
import numpy as np
df['born_in'] = df['born_in'].replace('',np.nan)

In [72]:
df['born_in']

0                          NaN
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                          NaN
4                          NaN
                 ...
1047                       NaN
1048                       NaN
1049                       NaN
1050                       NaN
1051                       NaN
Name: born_in, Length: 1052, dtype: object

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         142 non-null    object
 1   category        1052 non-null   object
 2   country         1052 non-null   object
 3   date_of_birth   1044 non-null   object
 4   date_of_death   1044 non-null   object
 5   gender          1040 non-null   object
 6   link            1052 non-null   object
 7   name            1052 non-null   object
 8   place_of_birth  1044 non-null   object
 9   place_of_death  1044 non-null   object
 10  text            1052 non-null   object
 11  year            1052 non-null   int64
dtypes: int64(1), object(11)
memory usage: 98.8+ KB

In [76]:
df = df.drop('born_in',axis=1)
df

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
...,...,...,...,...,...,...,...,...,...,...,...
1047,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [79]:
#import numpy as np
df = df.replace('',np.nan)
df

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Literature,NaN,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Chemistry,NaN,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
...,...,...,...,...,...,...,...,...,...,...,...
1047,Physics,Australia,"February 24, 1967",NaN,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",NaN,"Brian P. Schmidt , born in the United States ...",2011
1048,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Peace,Argentina,"November 26, 1931",NaN,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [83]:
#df[df.country.isna()]
#df[df.gender.isna()]
df[df.place_of_death.isna()]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
7,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",NaN,"Jules Bordet , Physiology or Medicine, 1919",1919
13,Physics,Belgium,6 November 1932,NaN,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",NaN,"François Englert , Physics, 2013",2013
16,Peace,NaN,2 August 1923,NaN,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,NaN,"Shimon Peres *, born in then Poland, now Bela...",1994
18,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,NaN,NaN,"August Krogh , Physiology or Medicine, 1920",1920
...,...,...,...,...,...,...,...,...,...,...,...
1044,Physiology or Medicine,Australia,11 June 1937,NaN,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",NaN,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,Physiology or Medicine,Australia,30 September 1951,NaN,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",NaN,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Physiology or Medicine,NaN,1948-11-26,NaN,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",NaN,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,Physics,Australia,"February 24, 1967",NaN,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",NaN,"Brian P. Schmidt , born in the United States ...",2011
1051,Peace,Argentina,"November 26, 1931",NaN,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,NaN,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [85]:
df[df.name.str.contains('\*')]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
1,Literature,NaN,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Chemistry,NaN,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
14,Economics,NaN,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Peace,NaN,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Peace,NaN,2 August 1923,NaN,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,NaN,"Shimon Peres *, born in then Poland, now Bela...",1994
...,...,...,...,...,...,...,...,...,...,...,...
1034,Chemistry,NaN,"March 15, 1930",NaN,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",NaN,"Martin Karplus *, Chemistry, 2013",2013
1035,Physics,NaN,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1039,Physics,NaN,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1041,Chemistry,NaN,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1046,Physiology or Medicine,NaN,1948-11-26,NaN,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",NaN,"Elizabeth H. Blackburn *, Physiology or Medici...",2009

In [92]:
#df['born_in'].replace('',np.nan)  #整個欄位符合條件就完整取代
df['name'] = df['name'].str.replace('*','')    #部分文字符合條件就取代部分文字
df['name'] = df['name'].str.strip()
df['name']

0                        César Milstein
1                            Ivo Andric
2                       Vladimir Prelog
3       Institut de Droit International
4                     Auguste Beernaert
                     ...
1047                   Brian P. Schmidt
1048              Carlos Saavedra Lamas
1049                   Bernardo Houssay
1050               Luis Federico Leloir
1051              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

In [98]:
mask = df.duplicated('name')
sorted(list(df[mask]['name']))

['Aaron Klug',
 'Aaron Klug',
 'Alan MacDiarmid',
 'Albert Einstein',
 'Albert Schweitzer',
 'Aleksandr M. Prokhorov',
 'Alexei A. Abrikosov',
 'Alfred Werner',
 'Allan M. Cormack',
 'Andre Geim',
 'Andrew Schally',
 'Anthony J. Leggett',
 'Arieh Warshel',
 'Arno Penzias',
 'Avram Hershko',
 'Baruj Benacerraf',
 'Bernard Katz',
 'Bertha von Suttner',
 'Betty Williams',
 'Brian P. Schmidt',
 'Carlos Filipe Ximenes Belo',
 'Charles B. Huggins',
 'Charles K. Kao',
 'Charles K. Kao',
 'Chen Ning Yang',
 'Christian de Duve',
 'Czesław Miłosz',
 'Czesław Miłosz',
 'César Milstein',
 'Daniel Bovet',
 'Daniel C. Tsui',
 'Daniel Kahneman',
 'David H. Hubel',
 'David Trimble',
 'Edmond H. Fischer',
 'Ei-ichi Negishi',
 'Elias Canetti',
 'Elie Wiesel',
 'Eric R. Kandel',
 'Ernest Rutherford',
 'Ernest Rutherford',
 'Ernst Boris Chain',
 'Eugene Wigner',
 'Felix Bloch',
 'Franco Modigliani',
 'Frederick Sanger',
 'Friderik Pregl',
 'Friedrich Hayek',
 'Gabriel Lippmann',
 'Gao Xingjian',
 'George E. Palade',
 'Georges Charpak',
 'Georges Charpak',
 'Gerhard Herzberg',
 'Gerty Cori',
 'Gérard Debreu',
 'Günter Blobel',
 'Hans Adolf Krebs',
 'Hans G. Dehmelt',
 'Hans von Euler-Chelpin',
 'Henry Dunant',
 'Henry Kissinger',
 'Henry Taube',
 'Herta Müller',
 'Ilya Ilyich Mechnikov',
 'Ilya Prigogine',
 'Isaac Bashevis Singer',
 'Ivan Bunin',
 'Ivar Giaever',
 'Ivo Andrić',
 'Jack Steinberger',
 'Jack W. Szostak',
 'John Bardeen',
 'John Harsanyi',
 "John O'Keefe",
 'Joseph Rotblat',
 'José Ramos-Horta',
 'Jules A. Hoffmann',
 'Konrad Bloch',
 'Konstantin Novoselov',
 'Lars Onsager',
 'Leonid Hurwicz',
 'Leonid Hurwicz',
 'Leopold Ružička',
 'Linus C. Pauling',
 'Luis Federico Leloir',
 'Maria Goeppert-Mayer',
 'Marie Curie',
 'Marie Skłodowska-Curie',
 'Martin Karplus',
 'Maurice Wilkins',
 'Max Born',
 'Max Delbrück',
 'Menachem Begin',
 'Menachem Begin',
 'Michael Levitt',
 'Michael Levitt',
 'Michael Levitt',
 'Michael Smith',
 'Mother Teresa',
 'Myron Scholes',
 'Médecins Sans Frontières',
 'Nelly Sachs',
 'Nicolaas Bloembergen',
 'Niels Kaj Jerne',
 'Niels Ryberg Finsen',
 'Oliver Smithies',
 'Osamu Shimomura',
 'Otto Stern',
 'Patrick White',
 'Peter Medawar',
 'Philipp Lenard',
 'Ragnar Granit',
 'Ralph M. Steinman',
 'Renato Dulbecco',
 'Riccardo Giacconi',
 'Richard Adolf Zsigmondy',
 'Richard Kuhn',
 'Rita Levi-Montalcini',
 'Roald Hoffmann',
 'Roald Hoffmann',
 'Robert Aumann',
 'Robert Bárány',
 'Roger Guillemin',
 'Ronald Coase',
 'Rudolph A. Marcus',
 'Salvador Luria',
 'Saul Bellow',
 'Selman A. Waksman',
 'Severo Ochoa',
 'Seán MacBride',
 'Shimon Peres',
 'Shimon Peres',
 'Shmuel Yosef Agnon',
 'Shuji Nakamura',
 'Sidney Altman',
 'Simon Kuznets',
 'Stefan Hell',
 'Subrahmanyan Chandrasekhar',
 'Sydney Brenner',
 'Sydney Brenner',
 'Tadeus Reichstein',
 'Thomas C. Südhof',
 'Tsung-Dao Lee',
 'Venkatraman Ramakrishnan',
 'Vladimir Prelog',
 'Walter Kohn',
 'Wassily Leontief',
 'Wilhelm Ostwald',
 'Wilhelm Ostwald',
 'Willard S. Boyle',
 'William Giauque',
 'William Lawrence Bragg',
 'William Vickrey',
 'Yoichiro Nambu',
 'Zhores Ivanovich Alferov']

In [308]:
df[df.duplicated('name')].count()

name              5
category          5
country           5
date_of_birth     5
date_of_death     4
gender            6
link              5
place_of_birth    5
place_of_death    4
text              5
year              5
award_age         6
First_Name        5
Last_Name         5
Middle_Name       5
dtype: int64

In [101]:
mask = df.duplicated('name')
df[mask].sort_values(['name'],ascending=[1])

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
121,Chemistry,South Africa,11 August 1926,NaN,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",NaN,"Aaron Klug , Chemistry, 1982",1982
131,Chemistry,United Kingdom,11 August 1926,NaN,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",NaN,"Aaron Klug , born in Lithuania , Chemistry, 1982",1982
742,Chemistry,NaN,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,Alan MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid *, Chemistry, 2000",2000
844,Physics,Germany,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,Albert Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , Physics, 1921",1921
870,Peace,NaN,14 January 1875,4 September 1965,male,http://en.wikipedia.org/wiki/Albert_Schweitzer,Albert Schweitzer,"Kaysersberg , Elsass-Lothringen , Germany (no...","Lambaréné , Gabon","Albert Schweitzer *, Peace, 1952",1952
...,...,...,...,...,...,...,...,...,...,...,...
987,Chemistry,NaN,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,William Giauque,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque *, Chemistry, 1949",1949
1035,Physics,NaN,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1001,Economics,NaN,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,William Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey *, Economics, 1996",1996
773,Physics,Japan,"January 18, 1921",NaN,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,Yoichiro Nambu,"Tokyo, Japan",NaN,"Yoichiro Nambu , Physics, 2008",2008
1010,Physics,NaN,1930-03-15,NaN,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,Zhores Ivanovich Alferov,"Vitebsk , BSSR , Soviet Union",NaN,"Zhores Ivanovich Alferov *, born in then Sovi...",2000

In [102]:
mask = df.duplicated('name')
dupes_name = df[mask]['name']
df[df.name.isin(dupes_name)].sort_values(['name'],ascending=[1])

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
131,Chemistry,United Kingdom,11 August 1926,NaN,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",NaN,"Aaron Klug , born in Lithuania , Chemistry, 1982",1982
121,Chemistry,South Africa,11 August 1926,NaN,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",NaN,"Aaron Klug , Chemistry, 1982",1982
106,Chemistry,NaN,11 August 1926,NaN,male,http://en.wikipedia.org/wiki/Aaron_Klug,Aaron Klug,"Želva, Lithuania",NaN,"Aaron Klug *, Chemistry, 1982",1982
440,Chemistry,United States,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,Alan MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid , born in New Zealand , Chemi...",2000
742,Chemistry,NaN,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,Alan MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid *, Chemistry, 2000",2000
...,...,...,...,...,...,...,...,...,...,...,...
417,Economics,United States,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,William Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey , born in Canada , Economics,...",1996
489,Physics,United States,"January 18, 1921",NaN,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,Yoichiro Nambu,"Tokyo, Japan",NaN,"Yoichiro Nambu , born in Japan , Physics, 2008",2008
773,Physics,Japan,"January 18, 1921",NaN,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,Yoichiro Nambu,"Tokyo, Japan",NaN,"Yoichiro Nambu , Physics, 2008",2008
1010,Physics,NaN,1930-03-15,NaN,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,Zhores Ivanovich Alferov,"Vitebsk , BSSR , Soviet Union",NaN,"Zhores Ivanovich Alferov *, born in then Sovi...",2000
692,Physics,Russia,1930-03-15,NaN,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,Zhores Ivanovich Alferov,"Vitebsk , BSSR , Soviet Union",NaN,"Zhores Ivanovich Alferov , born in then Sovie...",2000

In [106]:
sorted(list(df[df.name.isin(dupes_name)]['name']))
#len(sorted(list(df[df.name.isin(dupes_name)]['name'])))

['Aaron Klug',
 'Aaron Klug',
 'Aaron Klug',
 'Alan MacDiarmid',
 'Alan MacDiarmid',
 'Albert Einstein',
 'Albert Einstein',
 'Albert Schweitzer',
 'Albert Schweitzer',
 'Aleksandr M. Prokhorov',
 'Aleksandr M. Prokhorov',
 'Alexei A. Abrikosov',
 'Alexei A. Abrikosov',
 'Alfred Werner',
 'Alfred Werner',
 'Allan M. Cormack',
 'Allan M. Cormack',
 'Andre Geim',
 'Andre Geim',
 'Andrew Schally',
 'Andrew Schally',
 'Anthony J. Leggett',
 'Anthony J. Leggett',
 'Arieh Warshel',
 'Arieh Warshel',
 'Arno Penzias',
 'Arno Penzias',
 'Avram Hershko',
 'Avram Hershko',
 'Baruj Benacerraf',
 'Baruj Benacerraf',
 'Bernard Katz',
 'Bernard Katz',
 'Bertha von Suttner',
 'Bertha von Suttner',
 'Betty Williams',
 'Betty Williams',
 'Brian P. Schmidt',
 'Brian P. Schmidt',
 'Carlos Filipe Ximenes Belo',
 'Carlos Filipe Ximenes Belo',
 'Charles B. Huggins',
 'Charles B. Huggins',
 'Charles K. Kao',
 'Charles K. Kao',
 'Charles K. Kao',
 'Chen Ning Yang',
 'Chen Ning Yang',
 'Christian de Duve',
 'Christian de Duve',
 'Czesław Miłosz',
 'Czesław Miłosz',
 'Czesław Miłosz',
 'César Milstein',
 'César Milstein',
 'Daniel Bovet',
 'Daniel Bovet',
 'Daniel C. Tsui',
 'Daniel C. Tsui',
 'Daniel Kahneman',
 'Daniel Kahneman',
 'David H. Hubel',
 'David H. Hubel',
 'David Trimble',
 'David Trimble',
 'Edmond H. Fischer',
 'Edmond H. Fischer',
 'Ei-ichi Negishi',
 'Ei-ichi Negishi',
 'Elias Canetti',
 'Elias Canetti',
 'Elie Wiesel',
 'Elie Wiesel',
 'Eric R. Kandel',
 'Eric R. Kandel',
 'Ernest Rutherford',
 'Ernest Rutherford',
 'Ernest Rutherford',
 'Ernst Boris Chain',
 'Ernst Boris Chain',
 'Eugene Wigner',
 'Eugene Wigner',
 'Felix Bloch',
 'Felix Bloch',
 'Franco Modigliani',
 'Franco Modigliani',
 'Frederick Sanger',
 'Frederick Sanger',
 'Friderik Pregl',
 'Friderik Pregl',
 'Friedrich Hayek',
 'Friedrich Hayek',
 'Gabriel Lippmann',
 'Gabriel Lippmann',
 'Gao Xingjian',
 'Gao Xingjian',
 'George E. Palade',
 'George E. Palade',
 'Georges Charpak',
 'Georges Charpak',
 'Georges Charpak',
 'Gerhard Herzberg',
 'Gerhard Herzberg',
 'Gerty Cori',
 'Gerty Cori',
 'Gérard Debreu',
 'Gérard Debreu',
 'Günter Blobel',
 'Günter Blobel',
 'Hans Adolf Krebs',
 'Hans Adolf Krebs',
 'Hans G. Dehmelt',
 'Hans G. Dehmelt',
 'Hans von Euler-Chelpin',
 'Hans von Euler-Chelpin',
 'Henry Dunant',
 'Henry Dunant',
 'Henry Kissinger',
 'Henry Kissinger',
 'Henry Taube',
 'Henry Taube',
 'Herta Müller',
 'Herta Müller',
 'Ilya Ilyich Mechnikov',
 'Ilya Ilyich Mechnikov',
 'Ilya Prigogine',
 'Ilya Prigogine',
 'Isaac Bashevis Singer',
 'Isaac Bashevis Singer',
 'Ivan Bunin',
 'Ivan Bunin',
 'Ivar Giaever',
 'Ivar Giaever',
 'Ivo Andrić',
 'Ivo Andrić',
 'Jack Steinberger',
 'Jack Steinberger',
 'Jack W. Szostak',
 'Jack W. Szostak',
 'John Bardeen',
 'John Bardeen',
 'John Harsanyi',
 'John Harsanyi',
 "John O'Keefe",
 "John O'Keefe",
 'Joseph Rotblat',
 'Joseph Rotblat',
 'José Ramos-Horta',
 'José Ramos-Horta',
 'Jules A. Hoffmann',
 'Jules A. Hoffmann',
 'Konrad Bloch',
 'Konrad Bloch',
 'Konstantin Novoselov',
 'Konstantin Novoselov',
 'Lars Onsager',
 'Lars Onsager',
 'Leonid Hurwicz',
 'Leonid Hurwicz',
 'Leonid Hurwicz',
 'Leopold Ružička',
 'Leopold Ružička',
 'Linus C. Pauling',
 'Linus C. Pauling',
 'Luis Federico Leloir',
 'Luis Federico Leloir',
 'Maria Goeppert-Mayer',
 'Maria Goeppert-Mayer',
 'Marie Curie',
 'Marie Curie',
 'Marie Skłodowska-Curie',
 'Marie Skłodowska-Curie',
 'Martin Karplus',
 'Martin Karplus',
 'Maurice Wilkins',
 'Maurice Wilkins',
 'Max Born',
 'Max Born',
 'Max Delbrück',
 'Max Delbrück',
 'Menachem Begin',
 'Menachem Begin',
 'Menachem Begin',
 'Michael Levitt',
 'Michael Levitt',
 'Michael Levitt',
 'Michael Levitt',
 'Michael Smith',
 'Michael Smith',
 'Mother Teresa',
 'Mother Teresa',
 'Myron Scholes',
 'Myron Scholes',
 'Médecins Sans Frontières',
 'Médecins Sans Frontières',
 'Nelly Sachs',
 'Nelly Sachs',
 'Nicolaas Bloembergen',
 'Nicolaas Bloembergen',
 'Niels Kaj Jerne',
 'Niels Kaj Jerne',
 'Niels Ryberg Finsen',
 'Niels Ryberg Finsen',
 'Oliver Smithies',
 'Oliver Smithies',
 'Osamu Shimomura',
 'Osamu Shimomura',
 'Otto Stern',
 'Otto Stern',
 'Patrick White',
 'Patrick White',
 'Peter Medawar',
 'Peter Medawar',
 'Philipp Lenard',
 'Philipp Lenard',
 'Ragnar Granit',
 'Ragnar Granit',
 'Ralph M. Steinman',
 'Ralph M. Steinman',
 'Renato Dulbecco',
 'Renato Dulbecco',
 'Riccardo Giacconi',
 'Riccardo Giacconi',
 'Richard Adolf Zsigmondy',
 'Richard Adolf Zsigmondy',
 'Richard Kuhn',
 'Richard Kuhn',
 'Rita Levi-Montalcini',
 'Rita Levi-Montalcini',
 'Roald Hoffmann',
 'Roald Hoffmann',
 'Roald Hoffmann',
 'Robert Aumann',
 'Robert Aumann',
 'Robert Bárány',
 'Robert Bárány',
 'Roger Guillemin',
 'Roger Guillemin',
 'Ronald Coase',
 'Ronald Coase',
 'Rudolph A. Marcus',
 'Rudolph A. Marcus',
 'Salvador Luria',
 'Salvador Luria',
 'Saul Bellow',
 'Saul Bellow',
 'Selman A. Waksman',
 'Selman A. Waksman',
 'Severo Ochoa',
 'Severo Ochoa',
 'Seán MacBride',
 'Seán MacBride',
 'Shimon Peres',
 'Shimon Peres',
 'Shimon Peres',
 'Shmuel Yosef Agnon',
 'Shmuel Yosef Agnon',
 'Shuji Nakamura',
 'Shuji Nakamura',
 'Sidney Altman',
 'Sidney Altman',
 'Simon Kuznets',
 'Simon Kuznets',
 'Stefan Hell',
 'Stefan Hell',
 'Subrahmanyan Chandrasekhar',
 'Subrahmanyan Chandrasekhar',
 'Sydney Brenner',
 'Sydney Brenner',
 'Sydney Brenner',
 'Tadeus Reichstein',
 'Tadeus Reichstein',
 'Thomas C. Südhof',
 'Thomas C. Südhof',
 'Tsung-Dao Lee',
 'Tsung-Dao Lee',
 'Venkatraman Ramakrishnan',
 'Venkatraman Ramakrishnan',
 'Vladimir Prelog',
 'Vladimir Prelog',
 'Walter Kohn',
 'Walter Kohn',
 'Wassily Leontief',
 'Wassily Leontief',
 'Wilhelm Ostwald',
 'Wilhelm Ostwald',
 'Wilhelm Ostwald',
 'Willard S. Boyle',
 'Willard S. Boyle',
 'William Giauque',
 'William Giauque',
 'William Lawrence Bragg',
 'William Lawrence Bragg',
 'William Vickrey',
 'William Vickrey',
 'Yoichiro Nambu',
 'Yoichiro Nambu',
 'Zhores Ivanovich Alferov',
 'Zhores Ivanovich Alferov']

In [111]:
df[df.name.isin(dupes_name)].groupby('name').name.count()

name
Aaron Klug                  3
Alan MacDiarmid             2
Albert Einstein             2
Albert Schweitzer           2
Aleksandr M. Prokhorov      2
                           ..
William Giauque             2
William Lawrence Bragg      2
William Vickrey             2
Yoichiro Nambu              2
Zhores Ivanovich Alferov    2
Name: name, Length: 143, dtype: int64

In [113]:
mask = df.duplicated('name')
dupes_name = df[mask]['name']
(df[df.name.isin(dupes_name)].sort_values(['name'],ascending=[1]))['name']

131                   Aaron Klug
121                   Aaron Klug
106                   Aaron Klug
440              Alan MacDiarmid
742              Alan MacDiarmid
                  ...
417              William Vickrey
489               Yoichiro Nambu
773               Yoichiro Nambu
1010    Zhores Ivanovich Alferov
692     Zhores Ivanovich Alferov
Name: name, Length: 299, dtype: object

In [116]:
df[df.duplicated(['name','category','year'])][['name','category','year']]

                        name    category  year
90            Menachem Begin       Peace  1978
91              Shimon Peres       Peace  1994
109          Wilhelm Ostwald   Chemistry  1909
121               Aaron Klug   Chemistry  1982
131               Aaron Klug   Chemistry  1982
...                      ...         ...   ...
1039  Aleksandr M. Prokhorov     Physics  1964
1040           Patrick White  Literature  1973
1042           John Harsanyi   Economics  1994
1047        Brian P. Schmidt     Physics  2011
1050    Luis Federico Leloir   Chemistry  1970

[147 rows x 3 columns]

In [117]:
df[df.duplicated(['name'])][['name','category','year']]

                        name    category  year
90            Menachem Begin       Peace  1978
91              Shimon Peres       Peace  1994
109          Wilhelm Ostwald   Chemistry  1909
121               Aaron Klug   Chemistry  1982
131               Aaron Klug   Chemistry  1982
...                      ...         ...   ...
1039  Aleksandr M. Prokhorov     Physics  1964
1040           Patrick White  Literature  1973
1042           John Harsanyi   Economics  1994
1047        Brian P. Schmidt     Physics  2011
1050    Luis Federico Leloir   Chemistry  1970

[156 rows x 3 columns]

In [124]:
df = df.reindex(np.random.permutation(df.index))
df = df.drop_duplicates(['name','category','year'])
df = df.sort_index()
df.count()

category          899
country           815
date_of_birth     897
date_of_death     594
gender            896
link              905
name              905
place_of_birth    871
place_of_death    552
text              905
year              905
dtype: int64

In [125]:
df[df.duplicated(['name'])][['name','category','year']]
#Andrew Schally
#Ragnar Granit
#Sidney Altman
#Robert Bárány

                        name                category  year
309         Linus C. Pauling                   Peace  1962
326             John Bardeen                 Physics  1972
580         Frederick Sanger               Chemistry  1980
709   Marie Skłodowska-Curie               Chemistry  1911
712           Andrew Schally                     NaN  1976
919              Marie Curie               Chemistry  1911
960            Ragnar Granit  Physiology or Medicine  1809
995            Sidney Altman               Chemistry  1989
1016           Robert Bárány  Physiology or Medicine  1914

In [130]:
df.loc[820,'category'] = 'Physiology or Medicine'
df.loc[396,'year'] = 1989
df.loc[960,'year'] = 1967
df.loc[712,'year'] = 1977
df.loc[712,'category'] = 'Physiology or Medicine'
df.loc[104,'category'] = 'Physiology or Medicine'
df[df.name.isin(['Andrew Schally','Ragnar Granit','Sidney Altman','Robert Bárány'])]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
104,Physiology or Medicine,NaN,"November 30, 1926",NaN,male,http://en.wikipedia.org/wiki/Andrew_Schally,Andrew Schally,"Vilnius , Second Polish Republic",NaN,"Andrew Schally *, born in then Poland, now Li...",1977
396,Chemistry,United States,"May 7, 1939",NaN,male,http://en.wikipedia.org/wiki/Sidney_Altman,Sidney Altman,"Montreal, Quebec , Canada",NaN,"Sidney Altman , born in Canada , Chemistry, 1990",1989
650,Physiology or Medicine,Sweden,"October 30, 1900","March 12, 1991",None,http://en.wikipedia.org/wiki/Ragnar_Granit,Ragnar Granit,"Helsinki , Finland","Stockholm , Sweden","Ragnar Granit , born in then Russian Empire, ...",1967
712,Physiology or Medicine,NaN,"November 30, 1926",NaN,male,http://en.wikipedia.org/wiki/Andrew_Schally,Andrew Schally,"Vilnius , Second Polish Republic",NaN,"Andrew Schally *, born in Wilno, Second Polis...",1977
820,Physiology or Medicine,NaN,22 April 1876,8 April 1936,male,http://en.wikipedia.org/wiki/Robert_B%C3%A1r%C...,Robert Bárány,"Vienna , Austria-Hungary","Uppsala , Sweden","Robert Bárány *, born in then Austria-Hungary...",1914
960,Physiology or Medicine,Finland,"October 30, 1900","March 12, 1991",None,http://en.wikipedia.org/wiki/Ragnar_Granit,Ragnar Granit,"Helsinki , Finland","Stockholm , Sweden","Ragnar Granit , born in the Grand Duchy of Fi...",1967
995,Chemistry,Canada,"May 7, 1939",NaN,male,http://en.wikipedia.org/wiki/Sidney_Altman,Sidney Altman,"Montreal, Quebec , Canada",NaN,"Sidney Altman , Chemistry, 1989",1989
1016,Physiology or Medicine,Austria,22 April 1876,8 April 1936,male,http://en.wikipedia.org/wiki/Robert_B%C3%A1r%C...,Robert Bárány,"Vienna , Austria-Hungary","Uppsala , Sweden","Robert Bárány , Physiology or Medicine, 1914",1914

In [128]:
#706 709
df.loc[706,'name'] = 'Marie Curie'
df.loc[709,'name'] = 'Marie Curie'
df[df.name == 'Marie Skłodowska-Curie']

Empty DataFrame
Columns: [category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

In [134]:
df.loc[650,'gender'] = 'male'
df.loc[960,'gender'] = 'male'
df[df.gender.isna()]

,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
3,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
156,Peace,United Kingdom,None,None,None,http://en.wikipedia.org/wiki/Friends_Service_C...,Friends Service Council,None,None,"Friends Service Council , Peace, 1947",1947
267,Peace,United States,None,None,None,http://en.wikipedia.org/wiki/American_Friends_...,American Friends Service Committee (The Quakers),None,None,American Friends Service Committee (The Quake...,1947
574,Peace,United Kingdom,None,None,None,http://en.wikipedia.org/wiki/Amnesty_Internati...,Amnesty International,None,None,"Amnesty International , Peace, 1977",1977
947,Peace,France,None,None,None,http://en.wikipedia.org/wiki/M%C3%A9decins_San...,Médecins Sans Frontières,None,None,"Médecins Sans Frontières , Peace, 1999",1999
1000,Peace,Canada,None,None,None,http://en.wikipedia.org/wiki/Pugwash_Conferenc...,Pugwash Conferences on Science and World Affairs,None,None,Pugwash Conferences on Science and World Affai...,1995
1033,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005

In [139]:
df.loc[812,'category'] = 'Physiology or Medicine'
df.loc[815,'category'] = 'Economics'
df.loc[922,'category'] = 'Physiology or Medicine'
df[df.category.isna()]
df.loc[958,'year'] = 1939
df.loc[959,'year'] = 1945
df[df.year == 1809]

Empty DataFrame
Columns: [category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

In [181]:
df.date_of_birth = pd.to_datetime(df.date_of_birth,errors='raise')
df.date_of_birth

0      1927-10-08
1      1892-10-09
2      1906-07-23
3             NaT
4      1829-07-26
          ...
1047   1967-02-24
1048   1878-11-01
1049   1887-04-10
1050   1906-09-06
1051   1931-11-26
Name: date_of_birth, Length: 1052, dtype: datetime64[ns]

In [167]:
pd.to_datetime(df.date_of_death,errors='raise') #errors='coerce'

#df[df.date_of_death=='1968-23-07']
#df.loc[150,'date_of_death'] = '1968-07-23'

#df[df.date_of_death=='May 30, 2011 (aged 89)']
#df.loc[349,'date_of_death'] = '2011-05-30'

#df[df.date_of_death=='Diederik Korteweg']
#df.loc[746,'date_of_death'] = '1923-03-08'


#df.date_of_death = df.date_of_death.replace('living',np.nan)

#df[df.date_of_death=='1 February 1976, age 74']
#df.loc[858,'date_of_death'] = '1976-02-01'

1      1975-03-13
3             NaT
4      1912-10-06
5      1949-05-06
6      1943-05-14
          ...
1046          NaT
1047          NaT
1048   1959-05-05
1049   1971-09-21
1051          NaT
Name: date_of_death, Length: 905, dtype: datetime64[ns]

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 905 entries, 1 to 1051
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        905 non-null    object
 1   country         815 non-null    object
 2   date_of_birth   897 non-null    datetime64[ns]
 3   date_of_death   591 non-null    object
 4   gender          898 non-null    object
 5   link            905 non-null    object
 6   name            905 non-null    object
 7   place_of_birth  871 non-null    object
 8   place_of_death  552 non-null    object
 9   text            905 non-null    object
 10  year            905 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 124.8+ KB

In [182]:
df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         1052 non-null   object
 1   category        1052 non-null   object
 2   country         1052 non-null   object
 3   date_of_birth   1043 non-null   datetime64[ns]
 4   date_of_death   1044 non-null   object
 5   gender          1040 non-null   object
 6   link            1052 non-null   object
 7   name            1052 non-null   object
 8   place_of_birth  1044 non-null   object
 9   place_of_death  1044 non-null   object
 10  text            1052 non-null   object
 11  year            1052 non-null   int64
 12  award_age       1043 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 107.0+ KB

In [183]:
df[df.award_age<=30]

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year,award_age
525,,Physics,United Kingdom,1890-03-31,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg , born in Australia , ...",1915,25.0
626,,Physiology or Medicine,Switzerland,1946-04-17,"March 1, 1995",male,http://en.wikipedia.org/wiki/Georges_J._F._K%C...,Georges J. F. Köhler,Munich,Freiburg im Breisgau,"Georges J. F. Köhler , born in Germany (worke...",1976,30.0
725,,Peace,Pakistan,1997-07-12,,female,http://en.wikipedia.org/wiki/Malala_Yousafzai,Malala Yousafzai,"Mingora, Pakistan",,"Malala Yousafzai , Peace, 2014",2014,17.0
958,,Literature,Finland,1888-09-16,3 June 1964,male,http://en.wikipedia.org/wiki/Frans_Eemil_Silla...,Frans Eemil Sillanpää,"Hämeenkyrö , Finland","Helsinki , Finland","Frans Eemil Sillanpää , born in the Grand Duc...",1809,-79.0
959,,Chemistry,Finland,1895-01-15,11 November 1973,male,http://en.wikipedia.org/wiki/Artturi_Ilmari_Vi...,Artturi Ilmari Virtanen,"Helsinki , Finland","Helsinki , Finland","Artturi Ilmari Virtanen , born in the Grand D...",1809,-86.0
960,,Physiology or Medicine,Finland,1900-10-30,"March 12, 1991",None,http://en.wikipedia.org/wiki/Ragnar_Granit,Ragnar Granit,"Helsinki , Finland","Stockholm , Sweden","Ragnar Granit , born in the Grand Duchy of Fi...",1809,-91.0
1035,Australia,Physics,,1890-03-31,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915,25.0

In [188]:
df.award_age = df.award_age.fillna(-99)
df.award_age = df.award_age.astype('int32')
#df.award_age = df.award_age.replace(-99,np.nan)
df.award_age

0       57
1       69
2       69
3      -99
4       80
        ..
1047    44
1048    58
1049    60
1050    64
1051    49
Name: award_age, Length: 1052, dtype: int32

In [200]:
df['First_Name'] = df['name'].str.split(' ').str[0]
df['First_Name']

0          César
1            Ivo
2       Vladimir
3       Institut
4        Auguste
          ...
1047       Brian
1048      Carlos
1049    Bernardo
1050        Luis
1051      Adolfo
Name: First_Name, Length: 1052, dtype: object

In [201]:
df['Last_Name'] = df['name'].str.split(' ').str[1:].str.join(' ')
df['Last_Name']

0                     Milstein
1                     Andric *
2                     Prelog *
3       de Droit International
4                    Beernaert
                 ...
1047                P. Schmidt
1048            Saavedra Lamas
1049                   Houssay
1050           Federico Leloir
1051            Pérez Esquivel
Name: Last_Name, Length: 1052, dtype: object